<body>
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
	{{ range $i, $e := .Paginator.Pages }}
	<div class="column is-half">
	  <div class="card">
	    <div class="card-content">
	      <p class="title">
		"{{ .Summary | plainify | safeHTML }}"
		{{ if .Truncated }}
		...<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
		  Read more
		  <span class="icon is-small">
		    <i class="fa fa-angle-double-right"></i>
		  </span>
		</a>
		{{ end }}
	      </p>
	    </div>
	    <footer class="card-footer">
	      <p class="card-footer-item">
		<span>
		  {{ .Date.Format "January 2, 2006" }}
		</span>
	      </p>
	      <p class="card-footer-item">
                <!-- Your share button code -->
                <span class="fb-share-button"
                     data-href="{{ .Permalink }}"
                     data-layout="button_count"
                     data-size="small"
                     data-mobile-iframe="false">
                  <a class="fb-xfbml-parse-ignore"
                     target="_blank"
                     href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;src=sdkpreparse">Share</a>
                </span>
                
	      </p>
	    </footer>
	  </div> <!-- card -->
	  </div> <!-- column -->
	  {{ end }}
	  </div> <!-- columns -->
    </div>
  </section>
  {{ partial "pager" . }}
  {{ partial "footer" . }}
</body>
