<section class="section">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">

	<a class="navbar-item" href="{{ .Site.BaseURL }}/">
	  <span class="title">{{ .Site.Title }}</span>
	</a>

	<a class="navbar-item" href="{{ .Site.BaseURL }}/epigrams">
	  Articles
	</a>

	<a class="navbar-item" href="{{ .Site.BaseURL }}/epigrams">
	  Epigrams
	</a>
	
	{{ range .Site.Params.social }}
	<a class="navbar-item is-hidden-desktop" href="{{ .url }}">
          <span class="icon">
            <i class="fa {{ .fa_icon }}"></i>
          </span>
	</a>
	{{ end }}
	
      </div>
    </nav>
  </div>
</section>
