<!-- facebook boilerplate -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '109954266367352',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- twitter boilerplate -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


<script>
const toggleBurger = () => {
  let burgerIcon = document.getElementById('burger');
  let dropMenu = document.getElementById('navMenu');
  burgerIcon.classList.toggle('is-active');
  dropMenu.classList.toggle('is-active');
};  
</script>

<div class="section">
  <div class="container">
    
    <nav class="navbar">

      <div class="navbar-brand">
	<a class="navbar-item" href="{{ .Site.BaseURL }}">
	  <span>{{ .Site.Title }}</span>
	</a>

        <div class="navbar-burger" id="burger" onclick="toggleBurger()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        
      </div> <!-- navbar-brand -->

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          {{ range .Site.Params.navlinks }}          
          <a class="navbar-item{{ if eq (lower .title) (lower $.Title) }} is-active{{ end }}" href="{{ $.Site.BaseURL }}{{ .url }}">
              {{ .title }}
          </a>
          {{end}}                
        </div> 
      </div>      
    </nav>

  </div> <!-- container -->
</div> <!-- section -->
